@use "../abstracts/variables" as *;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: $color-bg-primary;
}

.btn {
  background-color: none;
  border: none;
  text-decoration: none;
}

.flex--horizontal {
  display: flex;
}
